//Colors
.primary-color{
    color: #4c1d56;
}

.secondary-color{
    color: #ffb300;
}

.purple-title{
    color:#793e87
}

.purpledark-title{
    color:#4a2154
}

.purple5c{
    color: #5c2767 !important;
}

.blue-title{
    color: #29c0d3 !important;
}

.dark-gray{
    color: #343a40;
}

.red-title{
    color: #df2935 !important;
    opacity: 1 !important;
}
