// Lifecole dialog global styles.
// @link https://vuetifyjs.com/en/components/dialogs

.v-dialog.lc-dialog {
    border-radius: 10px;
    box-shadow: 0 5px 10px 0 rgba(74, 64, 87, 0.2);


    > .v-card > .v-card__title {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 4px;
        padding: {
            right: 40px;
            left: 40px;
        }
    }
}

.lc-dialog__header-close-icon {
    // Fix icon to dialog right padding
    margin-right: -6px;
}